<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>yoga review</title>
</head>

<body>

	<header>
		<h1> A Yoga Review </h1>
	</header>

	<div th:each="review: ${reviews}">
		<h2 th:text="${review.title}"></h2>
		<h2 th:text="${review.imageUrl}"></h2>
		<!-- add appropriate image  -->
		<img src="./images/kino.jpg" alt="I'm not pictured here" />
		<img src="images/aBridges.jpg" alt="I'm not pictured here" />
		<h2 th:text="${review.reviewCategory}"></h2>
		<h2 th:text="${review.content}"></h2>
		<h2 th:text="${review.date}"></h2>
		<h2 th:text="${review.description}"></h2>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</div>

</body>
</html>